
    <section class="about">
        <div class="container">
            <div class="about__block">
                <div class="about__block-foto">
                    <img class="about__block-foto--img" src="img/img/foto-about.png" alt="">
                </div>
                <div class="about__block-info">
                    <p class="title__mini about__block-info--header">About</p>
                    <h2 class="about__block-info--title">We Are Experts in Elearning</h2>
                    <p class="about__block-info--subtitle">Distant orb has power</p>
                    <p class="about__block-info--text">What looked like a small patch of purple grass, above five feet
                        square, was
                        moving across the sand in their direction. When it came near enough he perceived.</p>
                    <a href="#" class="about__block-info--bt"><button type="button"
                            class="but about__bt">Explore</button></a>
                </div>
            </div>
            <div class="about__decor">
                <img src="img/icon/Combined-pink.svg" alt="">
            </div>
            <div class="about__fon">
                <img  class="about__fon-img" src="img/img/about-fon.png" alt="">
            </div>
        </div>
    </section>
