
    <section class="courses">
        <div class="container">
            <p class="title__mini courses__text">Courses</p>
            <h2 class="courses__title">Popular Subjects</h2>
            <ul class="courses__list">
                <li class="courses__item courses__link courses__item-active">
                    <a href="#" class="courses__link courses__link-active" data-id="All">All</a>
                </li>
                <li class="courses__item">
                    <a href="#" class="courses__link" data-id="Science">Science</a>
                </li>
                <li class="courses__item">
                    <a href="#" class="courses__link" data-id="Design">Design</a>
                </li>
                <li class="courses__item">
                    <a href="#" class="courses__link" data-id="Food">Food</a>
                </li>
                <li class="courses__item">
                    <a href="#" class="courses__link" data-id="Tech">Tech</a>
                </li>
                <li class="courses__item">
                    <a href="#" class="courses__link" data-id="Music">Music</a>
                </li>
                <li class="courses__item">
                    <a href="#" class="courses__link" data-id="Medicine">Medicine</a>
                </li>
            </ul>
            <ul class="courses__cards">
                <li class="courses__card">
                    <img src="img/img/science.png" alt="science" class="courses__card-img">
                    <div class="courses__card-block">
                        <h3 class="courses__card-title">Quantum Computers</h3>
                        <p class="courses__card-subtitle">Ivan Cornejo</p>
                        <p class="courses__card-text">10 Lessons</p>
                    </div>
                    <button class="courses__card-bt" type="button">Science</button>
                    <button type="button" class="courses__card-btn">$299</button>
                </li>
                <li class="courses__card">
                    <img src="img/img/mechanics.png" alt="science" class="courses__card-img">
                    <div class="courses__card-block">
                        <h3 class="courses__card-title">Mechanics</h3>
                        <p class="courses__card-subtitle">Chikanso Chima</p>
                        <p class="courses__card-text">10 Lessons</p>
                    </div>
                    <button class="courses__card-bt bt__pink" type="button">Design</button>
                    <button type="button" class="courses__card-btn">$299</button>
                </li>
                <li class="courses__card">
                    <img src="img/img/Neuroscience.png" alt="science" class="courses__card-img">
                    <div class="courses__card-block">
                        <h3 class="courses__card-title">Neuroscience</h3>
                        <p class="courses__card-subtitle">Leonardo Oliveira</p>
                        <p class="courses__card-text">10 Lessons</p>
                    </div>
                    <button class="courses__card-bt bt__lilac" type="button">Food</button>
                    <button type="button" class="courses__card-btn">$299</button>
                </li>
                <li class="courses__card">
                    <img src="img/img/Tech.png" alt="science" class="courses__card-img">
                    <div class="courses__card-block">
                        <h3 class="courses__card-title">Evolution of the Human</h3>
                        <p class="courses__card-subtitle">Joslin Rodgers</p>
                        <p class="courses__card-text">10 Lessons</p>
                    </div>
                    <button class=" courses__card-bt bt__purple" type="button">Tech</button>
                    <button type="button" class="courses__card-btn">$299</button>
                </li>
                <li class="courses__card">
                    <img src="img/img/Music.png" alt="science" class="courses__card-img">
                    <div class="courses__card-block">
                        <h3 class="courses__card-title">Genetic Models for Animal</h3>
                        <p class="courses__card-subtitle">Kita Chihoko</p>
                        <p class="courses__card-text">10 Lessons</p>
                    </div>
                    <button class="courses__card-bt bt__green" type="button">Music</button>
                    <button type="button" class="courses__card-btn">$299</button>
                </li>
                <li class="courses__card">
                    <img src="img/img/Medicine.png" alt="science" class="courses__card-img">
                    <div class="courses__card-block">
                        <h3 class="courses__card-title">Catalytic Conversions</h3>
                        <p class="courses__card-subtitle">Svyatoslav Taushev</p>
                        <p class="courses__card-text">10 Lessons</p>
                    </div>
                    <button class="courses__card-bt bt__violet" type="button">Medicine</button>
                    <button type="button" class="courses__card-btn">$299</button>
                </li>
            </ul>
            <a href="#" class="courses__bt-link"><button class="but courses__btn" type="submit">Load more</button></a>
            <div class="courses__decor-top">
                <img src="img/icon/Combined-pink.svg" alt="">
            </div>
            <div class="courses__decor">
                <img src="img/icon/Combined-pink.svg" alt="">
            </div>
        </div>
    </section>
  
