
    <section class="features">
        <div class="container">
            <div class="features__block">
                <div class="features__block-info">
                    <p class="title__mini features__text">Features</p>
                    <h2 class="features__block-info--title">Premium Courses</h2>
                    <p class="features__block-info--subtitle">Lifts the horizon</p>
                    <p class="features__block-info--text">What looked like a small patch of purple grass, above five
                        feet square, was moving across the
                        sand in their direction.</p>
                    <div class="features__block-info--block">
                        <img class="features__block-info--icon" src="img/icon/Support.svg" alt="">
                        <div class="features__block-info--miniblock">
                            <h3 class="features__block-info--title2">Free Support</h3>
                            <p class="features__block-info--subtitle2">Truly it was a great journey, and in it I met
                                with many, whom to know.</p>
                        </div>
                    </div>
                    <div class="features__block-info--block">
                        <img class="features__block-info--icon" src="img/icon/Bonuses.svg" alt="">
                        <div class="features__block-info--miniblock">
                            <h3 class="features__block-info--title2">Big Bonuses</h3>
                            <p class="features__block-info--subtitle2">Truly it was a great journey, and in it I met
                                with
                                many, whom to know.</p>
                        </div>
                    </div>
                </div>
                <div class="features__block-foto">
                    <img class="features__block-foto--img" src="img/img/features-foto.png" alt="">
                </div>
            </div>
            <img class="features__fon" src="img/img/about-fon.png" alt="">
            <div class="features__decor">
                <img src="img/icon/Combined-pink.svg" alt="">
            </div>
        </div>
    </section>
