    <footer class="footer">
        <div class="container">
            <div class="footer__info">
                <div class="footer__info-block1">
                    <p class="logo__white footer__logo">EDU</p>
                    <p class="footer__info-text">Car seemed to float in the middle of an immense dark sphere,
                        whose upper.</p>
                    <ul class="footer__info-block1--list">
                        <li class="footer__info-block1--item"><a class="footer__info-link" href="#"><img
                                    class="footer__info-icon" src="img/icon/Fc.svg" alt=""></a></li>
                        <li class="footer__info-block1--item"><a class="footer__info-link" href="#"><img
                                    class="footer__info-icon" src="img/icon/tw.svg" alt=""></a></li>
                        <li class="footer__info-block1--item"><a class="footer__info-link" href="#"><img
                                    class="footer__info-icon" src="img/icon/insta.svg" alt=""></a></li>
                    </ul>
                </div>
                <div class="footer__info-block2">
                    <div class="footer__info-block2--popular">
                        <h3 class="footer__info-title">Popular Courses</h3>
                        <ul class="footer__info-block2--list">
                            <a class="footer__info-block2--link" href="#">
                                <li class="footer__info-block2--item">Digital Ecosystem Infrastructure</li>
                            </a>
                            <a class="footer__info-block2--link" href="#">
                                <li class="footer__info-block2--item">Nutrition, Exercise and Sports</li>
                            </a>
                            <a class="footer__info-block2--link" href="#">
                                <li class="footer__info-block2--item">Leadership and Influence</li>
                            </a>
                        </ul>
                    </div>
                    <div class="footer__info-block3">
                        <h3 class="footer__info-title">Newsletter</h3>
                        <div class="footer__info-block3--form">
                            <div class="footer__info-block3--mail">
                            <input class="footer__info-block3--input" type="email" id="mail" name="user_mail"
                                placeholder="Your email"></div>
                            <a href="#"><button class="footer__info-block3--bt" type="submit">Subscribe</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__footer">
                <a href="#" class="footer__footer-link1">
                    <p class="footer__footer-copyright">Copyright © 2022 Lectrum LLC. All Rights Reserved.</p>
                </a>
                <div class="footer__footer-block">
                    <a href="#" class="footer__footer-link">
                        <p class="footer__footer-link--text">Terms of Conditions</p>
                    </a>
                    <a href="#" class="footer__footer-link">
                        <p class="footer__footer-link--text">Privacy Policy</p>
                    </a>
                </div>
            </div>
        </div>
    </footer>