    <section class="header">
        <div class="container">
            <div class="owl-carousel">
                <div class="rotator-slide">
                    <div class="header__rotator">
                        <img class="header__rotator-img" src="img/img/header.png" alt="">
                    </div>
                    <div class="header__block">
                        <div class="header__block-top">
                            <button class="header__btn courses__card-bt" type="button">Science</button>
                            <ul class="header__block-list">
                                <li class="header__block-item">
                                    <a class="header__block-link" href="#"><img src="img/icon/Fc.svg" alt=""></a>
                                </li>
                                <li class="header__block-item">
                                    <a class="header__block-link" href="#"><img src="img/icon/tw.svg" alt=""></a>
                                </li>
                                <li class="header__block-item">
                                    <a class="header__block-link" href="#"><img src="img/icon/insta.svg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__block-info">
                            <h1 class="header__block-info--title">Scientific Methods and Research</h1>
                            <p class="header__block-info--subtitle">Julian Gruber</p>
                            <button class="header__block-info--bt">$199</button>
                        </div>
                        <div class="header__block-play">
                            <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=lUdbxJXBuig">
                                <img src="img/icon/play.svg" alt="play" class="header__block-play--icon"></a>
                        </div>
                    </div>
                    <div class="header__slide">
                        <div class="header__slide-left">
                            <img src="img/icon/left.svg" alt="">
                        </div>
                        <div class="header__slide-right">
                            <img src="img/icon/right.svg" alt="">
                        </div>
                    </div>
                    <div class="header__decor--top">
                        <img src="img/icon/Combined-blue.svg" alt="">
                    </div>
                    <div class="header__decor">
                        <img src="img/icon/Combined-blue.svg" alt="">
                    </div>
                </div>

                <div class="rotator-slide">
                    <div class="header__rotator">
                        <img class="header__rotator-img" src="img/img/Medicine.png" alt="">
                    </div>
                    <div class="header__block">

                        <button class="header__btn courses__card-bt" type="button">Science</button>
                        <ul class="header__block-list">
                            <li class="header__block-item">
                                <a class="header__block-link" href="#"><img src="img/icon/Fc.svg" alt=""></a>
                            </li>
                            <li class="header__block-item">
                                <a class="header__block-link" href="#"><img src="img/icon/tw.svg" alt=""></a>
                            </li>
                            <li class="header__block-item">
                                <a class="header__block-link" href="#"><img src="img/icon/insta.svg" alt=""></a>
                            </li>
                        </ul>

                        <div class="header__block-info">
                            <h1 class="header__block-info--title">Scientific Methods and Research</h1>
                            <p class="header__block-info--subtitle">Julian Gruber</p>
                            <button class="header__block-info--bt">$199</button>
                        </div>
                        <div class="header__block-play">
                            <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=gw2nclcoFNE">
                                <img src="img/icon/play.svg" alt="play" class="header__block-play--icon"></a>
                        </div>
                    </div>
                    <div class="header__slide">
                        <div class="header__slide-left">
                            <img src="img/icon/left.svg" alt="">
                        </div>
                        <div class="header__slide-right">
                            <img src="img/icon/right.svg" alt="">
                        </div>
                    </div>
                    <div class="header__decor--top">
                        <img src="img/icon/Combined-blue.svg" alt="">
                    </div>
                    <div class="header__decor">
                        <img src="img/icon/Combined-blue.svg" alt="">
                    </div>
                </div>

                <div class="rotator-slide">
                    <div class="header__rotator">
                        <img class="header__rotator-img" src="img/img/Music.png" alt="">
                    </div>
                    <div class="header__block">
                        <div class="header__block-top">
                            <button class="header__btn courses__card-bt" type="button">Science</button>
                            <ul class="header__block-list">
                                <li class="header__block-item">
                                    <a class="header__block-link" href="#"><img src="img/icon/Fc.svg" alt=""></a>
                                </li>
                                <li class="header__block-item">
                                    <a class="header__block-link" href="#"><img src="img/icon/tw.svg" alt=""></a>
                                </li>
                                <li class="header__block-item">
                                    <a class="header__block-link" href="#"><img src="img/icon/insta.svg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__block-info">
                            <h1 class="header__block-info--title">Scientific Methods and Research</h1>
                            <p class="header__block-info--subtitle">Julian Gruber</p>
                            <button class="header__block-info--bt">$199</button>
                        </div>
                        <div class="header__block-play">
                            <a data-fancybox="video-gallery" href="https://www.youtube.com/watch?v=tepT4EcBTC0">
                                <img src="img/icon/play.svg" class="header__block-play--icon">
                            </a>
                        </div>
                    </div>
                    <div class="header__slide">
                        <div class="header__slide-left">
                            <img src="img/icon/left.svg" alt="">
                        </div>
                        <div class="header__slide-right">
                            <img src="img/icon/right.svg" alt="">
                        </div>
                    </div>
                    <div class="header__decor--top">
                        <img src="/img/icon/Combined-blue.svg" alt="">
                    </div>
                    <div class="header__decor">
                        <img src="img/icon/Combined-blue.svg" alt="">
                    </div>
                </div>
            </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(".owl-carousel").owlCarousel({
            items: 1,
            nav: true,
            margin: 10
        });
    </script>
