    <section class="privilege">
        <div class="container">
            <ul class="privilege__list">
                <li class="privilege__list-item">
                    <img class="privilege__list-icon" src="img/icon/theacher2.svg" alt="theacher">
                    <h3 class="privilege__list-title">Best Teachers</h3>
                    <p class="privilege__list-subtitle">Truly it was a great journey, and in it I met with many, whom to
                        know.</p>
                    <div class="privilege__list-nav">
                        <a href="#" class="privilege__list-link">
                            <p class="privilege__list-nav--text">Read more</p>
                            <img src="img/icon/arrow.svg" alt="arrow" class="arrow">
                        </a>
                    </div>
                </li>
                <li class="privilege__list-item">
                    <img class="privilege__list-icon" src="img/icon/course2.svg" alt="course">
                    <h3 class="privilege__list-title">Professional Courses</h3>
                    <p class="privilege__list-subtitle">Journey, and in it I met with many, whom to know was to love.
                    </p>
                    <div class="privilege__list-nav">
                        <a href="#" class="privilege__list-link">
                            <p class="privilege__list-nav--text">Read more</p>
                            <img src="img/icon/arrow.svg" alt="arrow" class="arrow">
                        </a>
                    </div>
                </li>
                <li class="privilege__list-item">
                    <img class="privilege__list-icon" src="img/icon/online2.svg" alt="online">
                    <h3 class="privilege__list-title">Online Learning</h3>
                    <p class="privilege__list-subtitle">Yet, for all that I have set down, we travelled much, always.
                    </p>
                    <div class="privilege__list-nav">
                        <a href="#" class="privilege__list-link">
                            <p class="privilege__list-nav--text">Read more</p>
                            <img src="img/icon/arrow.svg" alt="arrow" class="arrow">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>