$main-purple:#6B5CF6;
$main-green:#95D354;
$main-white:#FFFFFF;
$main-black:#333333;
$main-blue:#50C4EE;
$main-pink:#EE71C7;
$main-lightpurple:#F1F0FF;
$main-rgb:rgba(51, 51, 51, 0.501557);
$main-rgbwhite:rgba(255, 255, 255, 0.502972);
